$rem-fallback: true;
@import "sass-rem/rem"; // https://github.com/pierreburel/sass-rem

$line-length: 39em;

$screen-nominal-width: 1280px;
$screen-nominal-height: 1024px;

$sign-up-nominal-top-spacing: 217px;
$log-in-nominal-top-spacing: 235px;

$dashboard-inner-nominal-width: 915px;
$dashboard-nominal-width: $dashboard-inner-nominal-width + 165.6px;

$ideas-column-content-nominal-width: 427.1px;
$ideas-column-impact-nominal-width: 45px;
$ideas-column-ease-nominal-width: 31px;
$ideas-column-confidence-nominal-width: 74px;
$ideas-column-average-nominal-width: 30px;
$ideas-column-actions-nominal-width: 62px;

$noideas-nominal-top-spacing: 246px;
$ideas-nominal-height: 895px;

$sidebar-nominal-width: 199.4px;

$header-height: 126px;
$header-margin-bottom: 39px;
$header-total-height: $header-height + $header-margin-bottom;
