@import 'styles/colors';
@import 'styles/measurements';

.cxsp {
  &-sidebar {
    text-align: center;
    background-color: $green;
    padding: 37px 27px;
    // padding-right: 26.4px;
    min-width: $sidebar-nominal-width;
    width: ( $sidebar-nominal-width / $screen-nominal-width ) * 100vw;
  }
}
